.header {
  box-sizing: border-box;
  height: 120px;
  background-color: #ffcf00;
  padding: 50px;
  display: flex;
  align-items: center;
  gap: 35px;
  /* position: fixed;
  width: 100%;
  z-index: 1000; */
}