.popup__button-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -35px;
  right: -35px;
  background-image: url(../../../images/popup__button-close.svg);
  background-color: #000;
  background-size: contain;
  border-radius: 50%;
}